<div class="parallax-container valign-wrapper">
    <div class="parallax">
        <img src="http://www.hdwallpaper.nu/wp-content/uploads/2016/06/South-Korea_wallpaper_006.jpg">
    </div>
</div>
<ul id="list-row" class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header center-align"><i class="material-icons left">swap_vert</i>ARCHIVE<i class="material-icons right">swap_vert</i></div>
        <div class="collapsible-body">
            <ul id="archive_list" class="collapsible popout" data-collapsible="accordion"></ul>
        </div>
    </li>
</ul>
<!-- Modal Trigger -->
{{!--<a class="waves-effect waves-light btn" href="#modal1">Modal</a>--}}

<!-- Modal Structure -->
<div id="modal-note" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s6">
                        <div class="collection">
                            <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                            <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
                            <a href="#!" class="collection-item">Alan</a>
                            <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea" data-length="200"></textarea>
                        <label for="icon_prefix2">Note</label>
                                   
                    </div>
                </div>
                <div class="row">
                     <a href="#!" class="modal-action modal-close waves-effect waves-green btn right">Submit</a>
                </div>
            </form>
        </div>

    </div>
    {{!--<div class="modal-footer">
        <div class="row">

        </div>

    </div>--}}
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://lh3.googleusercontent.com/_WYN0P_N6MBAYQwM9Z6ziBL9X7fGb1LrPFTud-aAoB9EAW6gVwDIt2juJGF9LTEqLAI=h900"></div>
</div>